Repository Kwaadpepper/P13-POC-Your-Car-Your-Way: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix', sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): ajout du status de la connxion au chat dans la fenetre
  frontend/projects/app-support/src/app/core/chat/libs/chat-client.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat/chat-transport.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat/stomp-websocket-transport.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat/websocket-transport.ts
  frontend/projects/app-support/src/app/core/chat/services/chat-service-impl.ts
  frontend/projects/app-support/src/app/domains/chat/services/chat-service.ts
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.html
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(back-support): chat messages are now persisted
  backend/services/support-service/support-service-application/src/main/resources/db/migration/V0.0.1__init_support_context.sql
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/event/MessageWasAddedToConversation.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/model/entity/conversation/ConversationMessage.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/conversation/SendMessage.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/directory/conversation/MessageQueryDirectory.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/compagnyinfo/CompanyInformationJpaRepository.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/compagnyinfo/CompanyInformationRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/compagnyinfo/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/conversations/ConversationJpaRepository.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/conversations/ConversationRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/conversations/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/faq/FaqJpaRepository.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/faq/FaqRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/faq/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/issue/IssueJpaRepository.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/issue/IssueRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/issue/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/messages/MessageJpaRepository.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/messages/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/MessageService.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/MessageServiceJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/entity/MessageEntity.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/event/NewMessageDomainEventListener.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): supprimer le chargement optionnel de l'historique lors du join
  frontend/projects/app-support/src/app/core/chat/services/chat-service-impl.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(back-support): amélioration de la gestion des messages de conversation et des participants
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationMessagesController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatRoomService.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(front-support): corriger la gestion de la conversation lors de la reconnexion
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): corriger la méthode findAll pour récupérer les messages par conversation
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/MessageServiceJpaAdapter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): améliorer le style et la gestion de l'affichage des tickets
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list.html
Due: sh -c 'cd frontend && npm run lint:ts:fix'

feat(front-support): chat ajouter la gestion de l'event `join`
  frontend/projects/app-support/src/app/core/api/schemas/index.ts
  frontend/projects/app-support/src/app/core/api/schemas/join-schema.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat-client.ts
  frontend/projects/app-support/src/app/core/chat/services/chat-service-impl.ts
  frontend/projects/app-support/src/app/domains/chat/services/chat-service.ts
  frontend/projects/app-support/src/app/domains/events/index.ts
  frontend/projects/app-support/src/app/domains/events/join-event.ts
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

feat(back-support): ajouter le contrôleur Ping pour gérer le refresh token avant connexion au chat
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/PingController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(front-support): ping au serveur avant la connexion au chat
  frontend/projects/app-support/src/app/core/api/schemas/index.ts
  frontend/projects/app-support/src/app/core/api/schemas/simple-message-schema.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat-client.ts
  frontend/projects/app-support/src/app/core/chat/services/chat-service-impl.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(back-user): supprimer la gestion des origines autorisées dans la configuration JWT
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/AppConfiguration.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): utiliser une variable d'environnement pour globalcors
  backend/config/application.yml
Due: none

fix(back-support): corriger le chemin d'accès de l'endpoint ping dans PingController
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/PingController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): corriger la gestion des CORS
  backend/config/application.yml
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/component/JwtPresenceFilter.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/SecurityConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/SpringSecurityConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/SpringSecurityConfig.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): remplacer le signal store de la config
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard-viewmodel.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.ts
  frontend/projects/app-support/src/app/core/home/stores/support-config-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): remplacer la gestion des conversations par un signal
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/chat/stores/conversation-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): faq remplacer la gestion des ressources par des signaux
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/faq/stores/faq-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): remplacer la gestion des ressources par des signaux
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/issue/stores/issue-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

Revert "refactor(front-support): remplacer le signal store de la config"
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard-viewmodel.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.ts
  frontend/projects/app-support/src/app/core/home/stores/support-config-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

Revert "refactor(front-support): remplacer la gestion des conversations par un signal"
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/chat/stores/conversation-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): remplacer la gestion des FAQ par des ressources
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/faq/stores/faq-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

Revert "refactor(front-support): remplacer la gestion des ressources par des signaux"
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/issue/stores/issue-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): implémenter la gestion des abonnements dans ConversationStore
  frontend/projects/app-support/src/app/core/chat/stores/conversation-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): gestion de la destruction et l'abonnement dans SupportConfigStore
  frontend/projects/app-support/src/app/core/home/stores/support-config-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): ajouter la gestion de la destruction et l'abonnement dans IssueStore
  frontend/projects/app-support/src/app/core/issue/stores/issue-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): ajuster le style liste des conversations pour une meilleure réactivité
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.css
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.html
Due: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix'

refactor(front-support): faq-list ajouter des valeurs aux panneaux d'accordéon
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list.html
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front): correction des routes et suppression de pages inutiles
  frontend/projects/app-backoffice/src/app/core/home/routes.ts
  frontend/projects/app-reservation/src/app/core/home/routes.ts
  frontend/projects/shell/src/app/app.routes.ts
  frontend/projects/shell/src/app/core/auth/pages/index.ts
  frontend/projects/shell/src/app/core/auth/routes.ts
  frontend/projects/shell/src/app/core/home/pages/dashboard/dashboard-viewmodel.spec.ts
  frontend/projects/shell/src/app/core/home/pages/dashboard/dashboard-viewmodel.ts
  frontend/projects/shell/src/app/core/home/pages/dashboard/dashboard.css
  frontend/projects/shell/src/app/core/home/pages/dashboard/dashboard.html
  frontend/projects/shell/src/app/core/home/pages/dashboard/dashboard.spec.ts
  frontend/projects/shell/src/app/core/home/pages/dashboard/dashboard.ts
  frontend/projects/shell/src/app/core/home/pages/index.ts
  frontend/projects/shell/src/app/core/layout/nav-menu/nav-menu.viewmodel.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix'

refactor(back-support): déplacement de AuthenticationService et CookieService
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/component/JwtAuthenticationFilter.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/auth/AuthenticationService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/auth/CookieService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/auth/package-info.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back-support): remplacer SendMessage par CreateMessage et ajuster les méthodes associées
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/di/SpringInjector.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatRoomService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ConversationService.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/model/entity/conversation/Conversation.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/conversation/CreateMessage.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back-support): amélioration de la logique des controller de chat
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/lib/package-info.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationHistoryController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationMessagesController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationPresenceController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationTypingController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/PingController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatMessageSerializer.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatRoomService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ConversationService.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): simplifier la méthode getHistory en supprimant le paramètre limit
  frontend/projects/app-support/src/app/core/chat/libs/chat-client.ts
  frontend/projects/app-support/src/app/core/chat/services/chat-service-impl.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(back-support): supprimer le paramètre limit de l'enregistrement HistoryPayload
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationHistoryController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): améliorer la gestion des commandes inconnues dans la méthode send
  frontend/projects/app-support/src/app/core/chat/libs/chat/stomp-websocket-transport.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(back-support): récuper les messages stockés dans ConversationHistoryController
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationHistoryController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front): redirect to dashboard page when logged in on backoffice and reservation
  frontend/projects/app-backoffice/src/app/app.routes.ts
  frontend/projects/app-reservation/src/app/app.routes.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

feat(back-support): ajouter la gestion des messages de chat via RabbitMQ
  backend/config/support-service-application-dev.yml
  backend/config/support-service-application.yml
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/RabbitMqChatConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationMessagesController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatMessageEventSerializer.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatRoomService.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(back-support): ajouter la gestion des événements de chat avec RabbitMQ et DTOs
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/RabbitMqChatConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/dto/chat/MessageDto.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/dto/chat/package-info.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationMessagesController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationPresenceController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatMessageEventSerializer.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatRoomService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationMessagesEventListener.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationPresenceEventListener.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/package-info.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/eventsdtos/NewChatMessageEvent.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/eventsdtos/PresenceEvent.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/eventsdtos/package-info.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(front-support): gestion des états chargement et d'erreur pour conversation, FAQ et ticket
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.html
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.ts
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list.html
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list.ts
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list.html
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

Path conditions:
  sh -c 'cd frontend && npm run lint:ts:fix': any of: **/*.{ts,html}
  sh -c 'cd frontend && npm run lint:css:fix': any of: **/*.css
  sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon': (any of: **/*.gradle.kts) or (any of: **/*.java)
