Repository Kwaadpepper/P13-POC-Your-Car-Your-Way: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix', sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

chore(back): dockerize backend
  backend/.dockerignore
  backend/config/support-service-application.yml
  backend/config/user-service-application.yml
  backend/docker-compose.yml
  backend/docker/Dockerfile
  backend/docker/docker-compose.yml
  backend/platform/platform-config-server/src/main/resources/application.yml
  backend/platform/platform-gateway/src/main/resources/application.yml
  backend/platform/platform-service-registry/src/main/resources/application.yml
Due: none

fix(front-support): améliorer l'affichage du statut des tickets avec des couleurs appropriées
  frontend/projects/app-support/src/app/core/issue/pages/issue/issue-page.html
  frontend/projects/app-support/src/app/core/issue/pages/issue/issue-page.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front): ajouter une fonctionnalité de connexion démo avec des comptes préremplis
  frontend/projects/shell/src/app/core/auth/pages/home/home.html
  frontend/projects/shell/src/app/core/auth/pages/login/login.html
  frontend/projects/shell/src/app/core/auth/pages/login/login.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

chore(front-shared): add @types/uuid peer dependency to package.json
  frontend/projects/shared/bun.lock
  frontend/projects/shared/package.json
Due: none

build(front): dockerized front with env VARS
  frontend/angular.json
  frontend/docker-compose.yml
  frontend/docker/Dockerfile.front
  frontend/docker/entrypoint.sh
  frontend/projects/app-backoffice/public/federation.manifest.template.json
  frontend/projects/app-backoffice/src/environments/environment.development-docker.ts
  frontend/projects/app-backoffice/src/environments/environment.template.js
  frontend/projects/app-reservation/public/federation.manifest.template.json
  frontend/projects/app-reservation/src/environments/environment.development-docker.ts
  frontend/projects/app-reservation/src/environments/environment.template.js
  frontend/projects/app-support/public/federation.manifest.template.json
  frontend/projects/app-support/src/environments/environment.development-docker.ts
  frontend/projects/app-support/src/environments/environment.template.js
  frontend/projects/shell/public/federation.manifest.template.json
  frontend/projects/shell/src/environments/environment.development-docker.ts
  frontend/projects/shell/src/environments/environment.template.js
Due: sh -c 'cd frontend && npm run lint:ts:fix'

build(back): docker-compose mettre à jour CORS_ALLOWED_ORIGINS pour utiliser localhost
  backend/docker-compose.yml
Due: none

chore(front): ajouter la dépendance @types/uuid dans package.json
  frontend/bun.lock
  frontend/package.json
Due: none

ci(project): correction des chemins de contexte pour les services backend dans le workflow Docker
  .github/workflows/step-docker-images.yml
Due: none

fix(back): docker-compose corrige les chemins de montage et améliore la lisibilité des commandes
  backend/docker-compose.yml
Due: none

ci(project): corrige les chemins d'accès aux artefacts dans le workflow de construction du backend
  .github/workflows/step-building-backend.yml
Due: none

ci(project): corrige les chemins des fichiers Docker pour le frontend et le backend
  .github/workflows/step-docker-images.yml
Due: none

ci(project): met à jour le chemin du Dockerfile pour le backend dans le workflow de construction
  .github/workflows/step-docker-images.yml
Due: none

ci(project): correction du build d'image
  .github/workflows/step-docker-images.yml
Due: none

ci(project): mise à jour des chemins des modules pour le service utilisateur
  .github/workflows/step-docker-images.yml
Due: none

ci(project): corrige le chemin d'accès aux artefacts pour les services backend
  .github/workflows/step-building-backend.yml
Due: none

ci(project): met à jour les chemins des modules pour les services backend
  .github/workflows/step-docker-images.yml
Due: none

ci(project): mise à jour des chemins et des modules pour les services de support et d'utilisateur
  .github/workflows/step-building-backend.yml
Due: none

ci(project): corrige le chemin d'accès aux artefacts pour les services
  .github/workflows/step-building-backend.yml
Due: none

docs(project): mise à jour des readme
  README.md
  backend/README.md
Due: none

docs(project): ajout d'un avertissement sur le démarrage des services readme du backend
  backend/README.md
Due: none

build(back): ajout du script wait-for-service.sh et configuration des variables d'environnement
  backend/docker-compose.yml
  backend/docker/Dockerfile
  backend/docker/wait-for-service.sh
Due: none

docs(project): ajout du badge de pipeline dans le README
  README.md
Due: none

refactor(back-user): ajouter la gestion des exceptions d'authentification
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/exception/AppExceptionHandler.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/exception/exceptions/AuthenticationFailureException.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/auth/LoginController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): error prone fix
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/auth/LoginController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): normaliser la casse de la variable JOHN_DOE_CLIENT_ID
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/seeder/IssueSeeder.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): ajouter la documentation OpenAPI et Swagger UI pour les services
  backend/README.md
  backend/config/support-service-application-dev.yml
  backend/config/support-service-application.yml
  backend/config/user-service-application-dev.yml
  backend/config/user-service-application.yml
  backend/gradle/libs.versions.toml
  backend/services/support-service/support-service-application/build.gradle
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/OpenApiConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/SpringSecurityConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/RootController.java
  backend/services/user-service/user-service-application/build.gradle
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/OpenApiConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/SpringSecurityConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/RootController.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/auth/LoginController.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/auth/LogoutController.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/auth/RefreshController.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/clients/FindClientController.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/operators/FindOperatorController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

Path conditions:
  sh -c 'cd frontend && npm run lint:ts:fix': any of: **/*.{ts,html}
  sh -c 'cd frontend && npm run lint:css:fix': any of: **/*.css
  sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon': (any of: **/*.gradle.kts) or (any of: **/*.java)
