Repository Kwaadpepper/P13-POC-Your-Car-Your-Way: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix', sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back): correction de la durée d'expiration du token à 120 secondes
  backend/config/application.yml
Due: none

refactor(back): ajout de redis pour gérer les token de session
  backend/config/application.yml
  backend/docker/docker-compose.yml
  backend/gradle/libs.versions.toml
  backend/services/user-service/user-service-application/build.gradle
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/di/SpringInjector.java
  backend/services/user-service/user-service-infrastructure/build.gradle
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/service/token/JwtAccessTokenManagerImpl.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/service/token/JwtRefreshTokenManagerImpl.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/storage/KeyStorage.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/storage/KeyStorageRedisAdapter.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/storage/package-info.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): correction pour nullaway
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/issue/GetAllIssue.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/CompanyInformationRepositoryJpaAdapter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-user): correction pour nullaway
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/clients/FindClientController.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/repository/jpa/ClientRepositoryJpaAdapter.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/service/token/JwtAccessTokenManagerImpl.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): utiliser les dependances cantralisés pour les plateformes
  backend/gradle/libs.versions.toml
  backend/platform/platform-config-server/build.gradle
  backend/platform/platform-gateway/build.gradle
  backend/platform/platform-service-registry/build.gradle
Due: none

refactor(back-user): protection des route sur le service user
  backend/services/user-service/user-service-application/build.gradle
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/component/JwtAuthenticationFilter.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/component/package-info.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/SpringSecurityConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/di/SpringInjector.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/exception/exceptions/JwtAuthenticationFailureException.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/service/AuthenticationService.java
  backend/services/user-service/user-service-domain/src/main/java/com/ycyw/users/domain/usecase/session/VerifySession.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): filters fonctionnels sur les deux services
  backend/services/support-service/support-service-application/build.gradle
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/SupportServiceApplication.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/component/JwtAuthenticationFilter.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/component/package-info.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/AppConfiguration.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/FeignAuthConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/SpringSecurityConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/di/SpringInjector.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/exception/AppExceptionHandler.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/exception/exceptions/JwtAuthenticationFailureException.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/AuthenticationService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/CookieService.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/port/service/SessionVerifyer.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/issue/CreateIssue.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/session/VerifySession.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/session/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/client/client/ClientDirectoryFeignAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/client/client/ClientServiceFeignClient.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/sessionverifyer/SessionVerifyerFeignAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/sessionverifyer/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/feignclient/ClientServiceFeignClient.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/feignclient/SessionVerifyerFeignClient.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/feignclient/package-info.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/SpringSecurityConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/dto/VerifiedSessionDto.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/exception/AppExceptionHandler.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/exception/exceptions/UnauthorizedException.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/presenter/VerifiedSessionPresenter.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/route/auth/VerifyController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-user): refresh route was verifiying the access token and not only the refresh token
  backend/services/user-service/user-service-domain/src/main/java/com/ycyw/users/domain/model/valueobject/jwt/RefreshTokenClaims.java
  backend/services/user-service/user-service-domain/src/main/java/com/ycyw/users/domain/service/SessionService.java
  backend/services/user-service/user-service-domain/src/main/java/com/ycyw/users/domain/usecase/session/RefreshSession.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/service/token/JwtRefreshTokenManagerImpl.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): document les spring boot security configs
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/SpringSecurityConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/SpringSecurityConfig.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-user): verifie l'existence du credential lors du refresh
  backend/services/user-service/user-service-domain/src/main/java/com/ycyw/users/domain/service/SessionService.java
  backend/services/user-service/user-service-domain/src/main/java/com/ycyw/users/domain/usecase/session/RefreshSession.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

ci(front): add missing ci permissions
  .github/workflows/step-building-frontend.yml
  .github/workflows/step-linting-frontend.yml
Due: none

refactor(back): refactor infjectors for readability
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/di/SpringInjector.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/di/SpringInjector.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back): corriger la structure de configuration de Redis
  backend/config/application.yml
Due: none

refactor(back): ajout d'un préfiltre sur la gateway pour vérifier la validité d'un token JWT
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/component/JwtPresenceFilter.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/component/package-info.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/AppConfiguration.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/SecurityConfig.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/package-info.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back): revert wrong correction on service di/
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/di/SpringInjector.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/di/SpringInjector.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): simplification de l'authentification stateless et prefiltre sur la gateway
  backend/config/application.yml
  backend/config/platform-gateway.yml
  backend/platform/platform-gateway/build.gradle
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/component/JwtPresenceFilter.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/AppConfiguration.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/PublicRoutesConfig.java
  backend/platform/platform-gateway/src/main/resources/application.yml
  backend/services/support-service/support-service-application/build.gradle
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/AppConfiguration.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/AuthenticationService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/package-info.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/port/service/SessionVerifyer.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/session/VerifySession.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/session/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/sessionverifyer/SessionVerifyerFeignAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/sessionverifyer/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/feignclient/SessionVerifyerFeignClient.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/AppConfiguration.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/di/SpringInjector.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/service/token/JwtTokenProcessorImpl.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): centralisation des routes ignorés
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/PublicRoutesConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/SpringSecurityConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/PublicRoutesConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/SpringSecurityConfig.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

Auth refactor (#13)
  backend/config/application.yml
  backend/config/platform-gateway.yml
  backend/platform/platform-gateway/build.gradle
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/component/JwtPresenceFilter.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/component/package-info.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/AppConfiguration.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/PublicRoutesConfig.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/SecurityConfig.java
  backend/platform/platform-gateway/src/main/java/com/ycyw/gateway/config/package-info.java
  backend/platform/platform-gateway/src/main/resources/application.yml
  backend/services/support-service/support-service-application/build.gradle
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/AppConfiguration.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/PublicRoutesConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/SpringSecurityConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/di/SpringInjector.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/AuthenticationService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/package-info.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/port/service/SessionVerifyer.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/session/VerifySession.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/session/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/sessionverifyer/SessionVerifyerFeignAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/sessionverifyer/package-info.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/feignclient/SessionVerifyerFeignClient.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/AppConfiguration.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/PublicRoutesConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/config/SpringSecurityConfig.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/di/SpringInjector.java
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/service/token/JwtTokenProcessorImpl.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back): remplacer @Service par @Component sur des services d'application
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/AuthenticationService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/CookieService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/TransactionalUseCaseExecutor.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/service/AuthenticationService.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/service/CookieService.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/service/TransactionalUseCaseExecutor.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front): retrait des élément servant a mockers les serveurs backend
  frontend/bun.lock
  frontend/dev-mocks/.gitignore
  frontend/dev-mocks/bun.lock
  frontend/dev-mocks/mock-ws-server.ts
  frontend/dev-mocks/package.json
  frontend/docker-compose.yml
  frontend/docker/Dockerfile.front.mock-ws
  frontend/package.json
  frontend/projects/app-support/src/app/core/chat/libs/chat-client.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat/index.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat/stomp-websocket-transport.ts
  frontend/projects/app-support/src/app/core/chat/libs/chat/websocket-transport.ts
  frontend/projects/app-support/src/app/tokens/chat-transport-token.ts
  frontend/projects/app-support/src/environments/environment.development.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

chore(front): mise a jour des env pour correspond au backend java
  frontend/projects/app-backoffice/src/environments/environment.development-docker.ts
  frontend/projects/app-backoffice/src/environments/environment.development.ts
  frontend/projects/app-reservation/src/environments/environment.development-docker.ts
  frontend/projects/app-reservation/src/environments/environment.development.ts
  frontend/projects/app-support/src/environments/environment.development-docker.ts
  frontend/projects/app-support/src/environments/environment.development.ts
  frontend/projects/shell/src/environments/environment.development-docker.ts
  frontend/projects/shell/src/environments/environment.development.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(front-shell): mettre à jour resourceUrl pour utiliser userServiceEndpoint
  frontend/projects/shell/src/app/core/auth/services/auth-service/auth-service-impl.ts
  frontend/projects/shell/src/environments/environment.development-docker.ts
  frontend/projects/shell/src/environments/environment.development.ts
  frontend/projects/shell/src/environments/environment.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(front): mettre à jour resourceUrl pour supprimer le chemin d'API redondant
  frontend/projects/app-support/src/app/core/chat/repositories/conversation-repository-impl.ts
  frontend/projects/app-support/src/app/core/faq/repositories/faq-repository-impl.ts
  frontend/projects/app-support/src/app/core/home/services/support-config-service-impl.ts
  frontend/projects/app-support/src/app/core/issue/repositories/issue-repository-impl.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(front-support): rendre les champs line2 et line3 optionnels et gérer les valeurs null
  frontend/projects/app-support/src/app/core/api/schemas/support-config-schema.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): corriger l'ID du client dans le seeder de création d'issue
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/seeder/IssueSeeder.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(front-support): ajouter withCredentials aux requêtes HTTP pour la gestion des sessions
  frontend/projects/app-support/src/app/core/chat/repositories/conversation-repository-impl.ts
  frontend/projects/app-support/src/app/core/faq/repositories/faq-repository-impl.ts
  frontend/projects/app-support/src/app/core/home/services/support-config-service-impl.ts
  frontend/projects/app-support/src/app/core/issue/repositories/issue-repository-impl.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(front-support): dans la page conversation liste, gérer le cas ou il n'y a pas de dernier message
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.html
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(front-support): alignement avec les élements du backend
  frontend/projects/app-support/src/app/core/api/schemas/issue-schema.ts
  frontend/projects/app-support/src/app/domains/issue/enums/issue-status-enum.ts
  frontend/projects/app-support/src/app/domains/issue/models/client-info-type.ts
  frontend/projects/app-support/src/app/domains/issue/models/reservation-info-type.ts
  frontend/resources/mockoon/ycyw.json
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): alignement avec le front
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/di/SpringInjector.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/dto/CompanyInfoViewDto.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/dto/IssueViewDetailsDto.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/presenter/CompanyInfoPresenter.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/presenter/IssuePresenter.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/model/entity/issue/Issue.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/port/repository/ConversationRepository.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/issue/CreateIssue.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/issue/GetAllIssue.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/inmemory/ConversationRepositoryInMemory.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/inmemory/IssueRepositoryInMemory.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/ConversationRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/IssueRepositoryJpaAdapter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): ajouter la configuration CORS pour le serveur WebFlux
  backend/config/application.yml
Due: none

fix(back): mettre à jour le message de débogage pour l'absence de cookie avec le jeton JWT
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/component/JwtAuthenticationFilter.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/component/JwtAuthenticationFilter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(front-support): mettre à jour les destinations des commandes de conversation
  frontend/projects/app-support/src/app/core/chat/libs/chat/stomp-websocket-transport.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): désactiver CORS dans la configuration pour le traitement par la passerelle
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/SpringSecurityConfig.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(back-support): conversations : ajouter la prise en charge de WebSocket pour les conversations
  backend/gradle/libs.versions.toml
  backend/services/support-service/support-service-application/build.gradle
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/WebSocketConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationMessagesController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationPresenceController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationTypingController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/security/AuthenticatedUser.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/security/package-info.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/AuthenticationService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ChatRoomService.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/package-info.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/security/AuthenticatedUser.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/security/package-info.java
  backend/services/user-service/user-service-application/src/main/java/com/ycyw/users/application/service/AuthenticationService.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-shared): ZoneOffset.UTC par défaut pour l'extraction de zonedDatetime à partir de UUIDv7
  backend/shared/src/main/java/com/ycyw/shared/ddd/lib/AggregateRoot.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

chore(back): ajouter 'back-shared' aux scopes des commits conventionnels
  backend/.vscode/settings.json
Due: none

fix(front-support): alignement avec le backend pour le chat
  frontend/projects/app-support/src/app/core/api/schemas/message-schema.ts
  frontend/projects/app-support/src/app/domains/chat/models/chat-message-type.ts
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.ts
  frontend/projects/app-support/src/app/shared/components/chat-box/message/message.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

Path conditions:
  sh -c 'cd frontend && npm run lint:ts:fix': any of: **/*.{ts,html}
  sh -c 'cd frontend && npm run lint:css:fix': any of: **/*.css
  sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon': (any of: **/*.gradle.kts) or (any of: **/*.java)
