Repository Kwaadpepper/P13-POC-Your-Car-Your-Way: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix', sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back-support): simplifier la gestion des événements de présence avec un switch
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationPresenceEventListener.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): l'historique des messages n'est envoyé qu'à la personne qui l'a demandé
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationHistoryController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(back-support): envoyer les notifications de présence aux utilisateurs spécifiques via RabbitMQ
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationPresenceController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): corriger la valeur de l'état de présence lors de l'ajout d'un participant
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationPresenceEventListener.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(front-support): chatbox gérer la désinscription des flux lors de la destruction du composant
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): supprimer la classe WebSocketTransport obsolète
  frontend/projects/app-support/src/app/core/chat/libs/chat/websocket-transport.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(front-support): stomp-websocket transport gérer les évènements utilisateurs
  frontend/projects/app-support/src/app/core/chat/libs/chat/stomp-websocket-transport.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): corriger l'URL de destination pour les messages de conversation
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationPresenceController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): dispatch des messages vers toutes les instances via rabbitmq
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationMessagesController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationMessagesEventListener.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(back-support): ajouter la gestion des événements de saisie avec RabbitMQ
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/RabbitMqChatConfig.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationTypingController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationTypingEventListener.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/eventsdtos/TypingEvent.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): multiple fixes from error prone
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/presenter/CompanyInfoPresenter.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationMessagesController.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/chat/ConversationService.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(front-support): supprimer l'exportation de websocket-transport
  frontend/projects/app-support/src/app/core/chat/libs/chat/index.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): corriger l'URL de destination pour l'historique des messages
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/route/chat/ConversationHistoryController.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(front-support): rendre lastMessage nullable et transformer les valeurs null en undefined
  frontend/projects/app-support/src/app/core/api/schemas/conversation-schema.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

feat(back-support): ajouter la gestion des derniers messages dans les conversations
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/di/SpringInjector.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/dto/ConversationDto.java
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/presenter/ConversationPresenter.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/port/directory/MessageDirectory.java
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/conversation/GetAllConversation.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/directory/conversation/MessageQueryDirectory.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/messages/MessageJpaRepository.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/MessageService.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/MessageServiceJpaAdapter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): améliorer le message de journalisation lors de l'extraction de l'apiToken
  backend/services/user-service/user-service-infrastructure/src/main/java/com/ycyw/users/infrastructure/adapter/service/token/JwtTokenProcessorImpl.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): améliore la gestion de la déconnexion dans StompWebSocketTransport
  frontend/projects/app-support/src/app/core/chat/libs/chat/stomp-websocket-transport.ts
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): améliore la gestion des conversations et optimise le chargement
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.html
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.ts
  frontend/projects/app-support/src/app/core/chat/stores/conversation-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): améliore la gestion de la resource tickets
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list.html
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list.ts
  frontend/projects/app-support/src/app/core/issue/stores/issue-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): améliore la gestion des FAQs et optimise le chargement
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list.html
  frontend/projects/app-support/src/app/core/faq/stores/faq-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): améliore la gestion du chargement et des erreurs dans le tableau de bord
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard-viewmodel.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.html
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.ts
  frontend/projects/app-support/src/app/core/home/stores/support-config-store.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(front-support): améliore la gestion des erreurs de chargement dans FAQ et Dashboard
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard-viewmodel.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.ts
  frontend/projects/shell/src/app/core/error-handler.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(back-support): ajoute la gestion des conversations non trouvées dans les événements
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationPresenceEventListener.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

chore(back-support): ajout migrations repetable pour insert des données + disable seed
  backend/config/support-service-application-dev.yml
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_conversations.sql
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_faqs.sql
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_issues.sql
Due: none

refactor(back-support): améliore la gestion des événements de présence
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationPresenceEventListener.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): améliorer l'affichage du typing event
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.html
  frontend/projects/app-support/src/app/shared/components/chat-box/typing-indicator/typing-indicator.css
  frontend/projects/app-support/src/app/shared/components/chat-box/typing-indicator/typing-indicator.html
Due: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix'

General fixes (#15)
  backend/config/support-service-application-dev.yml
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/service/event/chat/ConversationPresenceEventListener.java
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_conversations.sql
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_faqs.sql
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_issues.sql
  frontend/projects/app-support/src/app/core/chat/libs/chat/stomp-websocket-transport.ts
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.html
  frontend/projects/app-support/src/app/core/chat/pages/conversation-list/conversation-list.ts
  frontend/projects/app-support/src/app/core/chat/stores/conversation-store.ts
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list.html
  frontend/projects/app-support/src/app/core/faq/pages/faq-list/faq-list.ts
  frontend/projects/app-support/src/app/core/faq/stores/faq-store.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard-viewmodel.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.html
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.ts
  frontend/projects/app-support/src/app/core/home/stores/support-config-store.ts
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list-viewmodel.ts
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list.html
  frontend/projects/app-support/src/app/core/issue/pages/issue-list/issue-list.ts
  frontend/projects/app-support/src/app/core/issue/stores/issue-store.ts
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.html
  frontend/projects/app-support/src/app/shared/components/chat-box/chatbox/chatbox.ts
  frontend/projects/app-support/src/app/shared/components/chat-box/typing-indicator/typing-indicator.css
  frontend/projects/app-support/src/app/shared/components/chat-box/typing-indicator/typing-indicator.html
  frontend/projects/shell/src/app/core/error-handler.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix', sh -c 'cd frontend && npm run lint:css:fix', sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): corriger l'affichage de la réponse dans IssueViewDetailsDto
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/presenter/IssuePresenter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front-support): contextualiser le dashboard support en fonction de l'utilisateur
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard-viewmodel.ts
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.html
  frontend/projects/app-support/src/app/core/home/pages/dashboard/dashboard.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

refactor(back-support): dans le use GetAllIssue corriger l'order des issues
  backend/services/support-service/support-service-domain/src/main/java/com/ycyw/support/domain/usecase/issue/GetAllIssue.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back-support): désactiver le nettoyage de la base de données dans Flyway
  backend/config/support-service-application-dev.yml
Due: none

refactor(back-support): tri par uuidv7 desc sur les repositories
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/conversations/ConversationRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/faq/FaqRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/issue/IssueRepositoryJpaAdapter.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/repository/jpa/messages/MessageJpaRepository.java
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/MessageServiceJpaAdapter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(back-support): ajouter une vérification avant le clean BDD dans FlywayDevConfig
  backend/services/support-service/support-service-application/src/main/java/com/ycyw/support/application/config/FlywayDevConfig.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

fix(back-support): corriger le statut de la demande de support 2 dans R__insert_issues.sql
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_issues.sql
Due: none

fix(back-support): corriger l'ordre de tri des messages dans findAll
  backend/services/support-service/support-service-infrastructure/src/main/java/com/ycyw/support/infrastructure/adapter/service/messages/MessageServiceJpaAdapter.java
Due: sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front): ajouter des titres aux routes pour une meilleure navigation
  frontend/projects/app-backoffice/src/app/core/home/routes.ts
  frontend/projects/app-reservation/src/app/core/home/routes.ts
  frontend/projects/app-support/src/app/core/chat/routes.ts
  frontend/projects/app-support/src/app/core/faq/routes.ts
  frontend/projects/app-support/src/app/core/home/routes.ts
  frontend/projects/app-support/src/app/core/issue/routes.ts
  frontend/projects/shell/src/app/core/auth/routes.ts
Due: sh -c 'cd frontend && npm run lint:ts:fix'

chore(front-shared): rempalce crypt.uuid par une librarie pour fonctionner en http
  bun.lock
  frontend/projects/shared/src/lib/session-broadcast/session-broadcast-service.ts
  package.json
Due: sh -c 'cd frontend && npm run lint:ts:fix'

fix(back-support): mettre à jour les sujets des demandes de support dans R__insert_issues.sql
  backend/services/support-service/support-service-application/src/main/resources/db/migration/R__insert_issues.sql
Due: none

Path conditions:
  sh -c 'cd frontend && npm run lint:ts:fix': any of: **/*.{ts,html}
  sh -c 'cd frontend && npm run lint:css:fix': any of: **/*.css
  sh -c 'cd backend && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon': (any of: **/*.gradle.kts) or (any of: **/*.java)
